#MyDiv1{border: solid red 20px;
	width: 200px;
	height:200px; }

#MyDiv2{border: solid yellow 20px;
	width: 200px;
	height:200px; 
       
}

#MyDiv3{border: solid black 20px;
	width: 200px;
	height:200px; }

#MyDiv4{border: solid pink 20px;
	width: 200px;
	height:200px; }

#MyDiv5{border: solid blue 20px;
	width: 200px;
        height: 200px;
	 }

#MyDiv6{border: solid green 20px;
	width: 200px;
	height:200px;}

#MyDiv7{border: solid brown 20px;
	width: 200px;
	height:200px; }